/* CONTAINER GERAL */
.container-vh {
  position: relative;
  height: 100vh;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background: url(../../img/PIZZA1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 200px) and (max-width: 767px) {
  .container-vh {
    background-position: 60% 90%;
  }
}

/* MOBILE PEQUENOS(ANTIGOS)*/
@media screen and (min-width: 200px) and (max-width: 411px) {
  .container-vh {
    background-position: 50% 85%;
  }
}
